<div class="color-red signin-main">
    <div class="signin-info">
        <div class="flat-form">
            <h1>
                Log in
            </h1>

            <form name="loginForm" ng-submit="submit()">
                <ul>
                    <li class="text-input">
                        <input type="email" placeholder="Email" ng-model="email" name="email" required/>
                    </li>
                    <li class="error-message">
                        <span ng-show="loginForm.email.$error.required"> Required!</span>
                        <span ng-show="loginForm.email.$error.email">Not valid email!</span>
                    </li>
                    <li class="text-input">
                        <input type="password" placeholder="Password" ng-model="password" name="password" required=""/>
                    </li>
                    <li class="error-message" ng-show="loginForm.password.$error.required">
                            Required!
                    </li>
                    <li class="error-message">
                             {{errorMessage}}
                    </li>
                    <li>
                        <input type="submit" value="{{submitText}}" class="btn-small btn-pop-out">
                    </li>

                </ul>
            </form>
            <div class="forgot" ng-hide="isSignupPage">
                Not a member yet? Click here to <a ng-click="isSignupPage=true">sign up!</a>
            </div>
            <div ng-show="isSignupPage">
                Already a member? Click here to <a ng-click="isSignupPage=false">log in</a>
            </div>
        </div>
    </div>
    <div class="signin-social">
        <div class="color-facebook background-color-inherit">
            <a class="btn btn-social btn-sociald fa-facebook" href="/auth/facebook">
                Login with facebook
            </a>
        </div>
        <div class="color-google background-color-inherit">
            <a class="btn btn-social btn-sociald fa-google-plus" style="padding-right: 68px" href="/auth/google">
                Login with google plus
            </a>
        </div>
        <div class="color-yellow background-color-inherit">
            <a class="btn btn-social btn-sociald fa-twitter" style="padding-right: 108px" href="/auth/twitter">
                Login with twitter
            </a>
        </div>
    </div>
</div>