<div class="color-red">
<div class="signin-main">
    <div class="signin-info">
        <div class="flat-form">
            <h1>
                Sign in
            </h1>
            <form>
                <ul>
                    <li>
                        <input type="text" placeholder="Email"  ng-model="email"/>
                    </li>
                    <li>
                        <input type="password" placeholder="Password" ng-model="password"/>
                    </li>
                    <li>
                        <a class="btn btn-small btn-pop-out btn-pop-outc"  style="float:left;margin-left: 0px" ng-click="login()">
                            Log in
                        </a>
                        <a class="btn btn-small btn-pop-out btn-pop-outc"  style="float:left;margin-left: 0px" ng-click="createUser()">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </form>

        </div>
    </div>
    <div class="signin-social">
            <div class="color-facebook background-color-inherit">
            <a class="btn btn-social btn-sociald fa-facebook" href="/auth/facebook">
                Login with facebook
            </a>
        </div>
        <div class="color-google background-color-inherit">
            <a class="btn btn-social btn-sociald fa-google-plus" style="padding-right: 68px" href="/auth/google">
                Login with google plus
            </a>
        </div>
        <div class="color-yellow background-color-inherit">
            <a class="btn btn-social btn-sociald fa-twitter" style="padding-right: 108px" href="/auth/twitter">
                Login with twitter
            </a>
        </div>
    </div>
</div>
</div>