if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
    //AngularJS
    script(type='text/javascript', src='/js/lib/angular.js')
    script(type='text/javascript', src='/js/lib/angular-resource.js')
    script(type='text/javascript', src='/js/lib/angular-sanitize.js')
    script(type='text/javascript', src='/js/lib/angular-animate.js')

    //Angular UI
    script(type='text/javascript', src='/js/lib/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/js/lib/angular-ui-router.js')

    //underscore
    script(type='text/javascript', src='/js/lib/underscore.js')
    script(type='text/javascript', src='/js/lib/underscore.string.js')

    //binaryjs
    script(type='text/javascript', src='/js/lib/binary.js')

    //APP
    script(type='text/javascript',src='/js/assets/app/app.js')
    script(type='text/javascript',src='/js/assets/app/home/home.js')
    script(type='text/javascript',src='/js/assets/app/login/login.js')
    script(type='text/javascript',src='/js/assets/app/list/list.js')
    script(type='text/javascript',src='/js/assets/app/create/create.js')
    script(type='text/javascript',src='/js/assets/common/user/services.js')
    script(type='text/javascript',src='/js/assets/common/presentation/services.js')
    script(type='text/javascript',src='/js/templates-lab.js')
    script(type='text/javascript',src='//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.4.min.js')

    //atelier
    script(type='text/javascript',src='/js/atelier/app/edit/edit.js')
    script(type='text/javascript',src='/js/atelier/app/play/play.js')
    script(type='text/javascript',src='/js/atelier/app/record/record.js')
    script(type='text/javascript',src='/js/atelier/common/acoustics/services.js')
    script(type='text/javascript',src='/js/atelier/common/apollo/services.js')
    script(type='text/javascript',src='/js/atelier/common/apollo/directives.js')
    script(type='text/javascript',src='/js/atelier/common/istari/services.js')
    script(type='text/javascript',src='/js/atelier/common/minerva/directives.js')
    script(type='text/javascript',src='/js/atelier/common/minerva/services.js')
    script(type='text/javascript',src='/js/atelier/common/sokratube/services.js')
    script(type='text/javascript',src='/js/atelier/common/canvas/services.js')

    script(type='text/javascript',src='/js/templates-app.js')
    script(type='text/javascript',src='/js/templates-common.js')




else
    //Angular js
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js')
    //Angular UI
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.min.js')

    //underscore
    script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")



