//common block for handling error
script(type='text/javascript') window.onerror=function(e,f,a,b){try{var d=function(h){return h.replace("\\","\\\\").replace('"','\\"')};var c=window.XMLHttpRequest||function(){try{return new ActiveXObject("Msxml3.XMLHTTP")}catch(l){}try{return new ActiveXObject("Msxml2.XMLHTTP.6.0")}catch(k){}try{return new ActiveXObject("Msxml2.XMLHTTP.3.0")}catch(j){}try{return new ActiveXObject("Msxml2.XMLHTTP")}catch(i){}try{return new ActiveXObject("Microsoft.XMLHTTP")}catch(h){}};var g=new c();g.open("POST","/log/error",true);g.setRequestHeader("Content-type","application/json");g.send('{ "message": "'+d(e||"")+'","source": "'+d(f||"")+'","url": "'+d(window.location.href)+'","line": "'+(a||0)+'","column": "'+(b||0)+'"}')}finally{}};
script#_webengage_script_tag(type='text/javascript') var _weq = _weq || {}; _weq['webengage.licenseCode'] = '76a9cb8';_weq['webengage.widgetVersion'] = "4.0";(function(d){var _we = d.createElement('script');_we.type = 'text/javascript';_we.async = true;_we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";var _sNode = d.getElementById('_webengage_script_tag'); _sNode.parentNode.insertBefore(_we, _sNode);})(document);
if(process.env.NODE_ENV === 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
    //AngularJS
    script(type='text/javascript', src='/js/lib/angular.js')
    script(type='text/javascript', src='/js/lib/angular-resource.js')
    script(type='text/javascript', src='/js/lib/angular-sanitize.js')
    script(type='text/javascript', src='/js/lib/angular-animate.js')

    //Angular UI
    script(type='text/javascript', src='/js/lib/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/js/lib/angular-ui-router.js')

    //Angular-elastic
    script(type='text/javascript', src='/js/lib/elastic.js')

    //underscore
    script(type='text/javascript', src='/js/lib/underscore.js')
    script(type='text/javascript', src='/js/lib/underscore.string.js')

    //binaryjs
    script(type='text/javascript', src='/js/lib/binary.js')
    //kineticjs
    script(type='text/javascript',src='/js/lib/kinetic-v4.7.3.js')

    //YT
    script(type='text/javascript',src='/js/lib/iframe_api.js')


    //APP
    script(type='text/javascript',src='/js/assets/app/app.js')
    script(type='text/javascript',src='/js/assets/common/logging/services.js')
    script(type='text/javascript',src='/js/assets/app/home/home.js')
    script(type='text/javascript',src='/js/assets/app/login/login.js')
    script(type='text/javascript',src='/js/assets/app/share/share.js')
    script(type='text/javascript',src='/js/assets/app/list/list.js')
    script(type='text/javascript',src='/js/assets/app/create/create.js')
    script(type='text/javascript',src='/js/assets/app/base/base.js')
    script(type='text/javascript',src='/js/assets/common/user/services.js')
    script(type='text/javascript',src='/js/assets/common/presentation/services.js')
    script(type='text/javascript',src='/js/templates-lab.js')

    //atelier
    script(type='text/javascript',src='/js/atelier/app/edit/edit.js')
    script(type='text/javascript',src='/js/atelier/app/play/play.js')
    script(type='text/javascript',src='/js/atelier/app/record/record.js')
    script(type='text/javascript',src='/js/atelier/common/acoustics/services.js')
    script(type='text/javascript',src='/js/atelier/common/apollo/services.js')
    script(type='text/javascript',src='/js/atelier/common/apollo/directives.js')
    script(type='text/javascript',src='/js/atelier/common/istari/services.js')
    script(type='text/javascript',src='/js/atelier/common/minerva/directives.js')
    script(type='text/javascript',src='/js/atelier/common/minerva/services.js')
    script(type='text/javascript',src='/js/atelier/common/sokratube/services.js')
    script(type='text/javascript',src='/js/atelier/common/canvas/services.js')

    script(type='text/javascript',src='/js/templates-app.js')
    script(type='text/javascript',src='/js/templates-common.js')
    //stacktrace
    script(type='text/javascript',src='/js/lib/stacktrace.js')
    //canvas to blob
    script(type='text/javascript',src='/js/lib/canvas-to-blob.js')
    //session cam
    //hopscotch
    script(type="text/javascript",src="/js/lib/hopscotch-0.1.2.min.js")
else
    script(type='text/javascript',src='/static/js/lib/yepnope.1.5.4-min.js')
    script(type='text/javascript',src='/static/js/cdnloader_v346.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    //Angular js
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js')
    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.min.js')
    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js')
    //Angular UI
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/angular.ui-router/0.2.7/angular-ui-router.js')
    //
    script(type='text/javascript',src='/static/js/sokratik_v408.js')

    
