head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title="Create,Share and edit Audio-visual presentations"
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="html5, presentation , screen-capture, videos, audio-visual, teach , entertain and impress")
    meta(name="description", content="Sokratik - a way to create audio-visual presentations in your browser and share them with the world")

    link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

    meta(property='fb:app_id', content='1434846540077668')
    meta(property='og:title', content='Sokratik, create and share html5 audio-visual presentations')
    meta(property='og:description', content='Sokratik - a way to create audio-visual presentations in your browser and share them with the world')
    meta(property='og:type', content='website')
    meta(property='og:url', content='try.sokratik.com')
    meta(property='og:image', content='https://s3-ap-southeast-1.amazonaws.com/qumran/philosopher_socrates_poster-r8c99ba6153be49bdb9e1350cfa86cd4d_7vls_8byvr_512.jpg')
    meta(property='og:site_name', content='Sokratik')
    meta(property='fb:admins', content='hjhazarika')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='/css/atelier.css')

//if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
