<div class="presentation">
    <div class="slide full-sized share">
        <div class="full-text">
            <div class="vertical-center full-sized">
                <div class="full-width">
                <hr/>
                    <span style="font-weight:bold;line-height:1.2em">
                    We are giving out free lifetime accounts for selected users!<br/>
                    Please fill in <a href="//docs.google.com/forms/d/1HCaWJQ_mqKKp6OIaDT8jjhXmhS1Z7XN-AR5uXKkhjJI/viewform">this survey</a> to be eligible and help us out.
                    <hr/>
                </span>
                    <h3 style="margin-bottom:20px">
                        <div>
                            {{title}}
                        </div>
                    </h3>
                <span>
                    <span>
                    <strong>Share link:</strong> {{directPlayUrl}}
                    </span><br/><br/>
                </span>
                <span>
                    <span>
                    <strong>Embed code:</strong>
                        <textarea ng-model="iframeLink" class="iframeText">
                        </textarea>
                    </span><br/>
                </span>
                <span>
                    <span>
                    <strong>Share on</strong>
                    </span><br/>
                </span>
                <span>
                    <span>
                    <span class="color-blue">
                        <a class="btn-pop-out"
                           ng-href="{{fbShareLink}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </span>
                    <span class="color-red">
                        <a class="btn-pop-out" ng-click="shareGooglePlus()">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </span>
                    <span class="color-yellow">
                    <a class="btn-pop-out" ng-href="{{twitterSharelink}}">
                        <i class="fa fa-twitter"></i>
                    </a>
                    </span>
                        </span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
