<div class="presentation">
    <div class="slide full-sized share">
        <div class="full-text">
            <div class="vertical-center full-sized">
                <div class="full-width">
                    <h1>
                        <div>
                            {{title}}
                        </div>
                    </h1>
                    <br/>
                <span>
                    <span>
                    Share link: {{directPlayUrl}}
                    </span><br/><br/>
                </span>
                <span>
                    <span>
                    Embed code:
                        <textarea ng-model="iframeLink" class="iframeText">
                        </textarea>
                    </span><br/><br/><br/>
                </span>
                <span>
                    <span>
                    Share on
                    </span><br/>
                </span>
                <span>
                    <span>
                    <span class="color-blue">
                        <a class="btn-pop-out"
                           ng-href="{{fbShareLink}}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </span>
                    <span class="color-red">
                        <a class="btn-pop-out" ng-click="shareGooglePlus()">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </span>
                    <span class="color-yellow">
                    <a class="btn-pop-out" ng-href="{{twitterSharelink}}">
                        <i class="fa fa-twitter"></i>
                    </a>
                    </span>
                        </span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
