.navigation {
  /* Icon only style */
  /* Button 7 */
  /* Button 7g */
}
.navigation .btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation .btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation .btn:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.navigation .btn-small {
  padding: 10px 30px;
}
.navigation .btn-icon-only {
  font-size: 0;
  padding: 25px 30px;
}
.navigation .btn-icon-only:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  font-family: 'FontAwesome';
  line-height: 54px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navigation .btn-icon-create {
  background: #17aa56;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 5px #119e4d;
}
.navigation .btn-icon-createg:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 26px;
  font-family: 'FontAwesome';
  content: "\f067";
  line-height: 54px;
  color: #0a833d;
  visibility: hidden;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.navigation .btn-icon-createg.btn-activated:after {
  visibility: visible;
  -webkit-animation: dropDownFade 0.5s forwards;
  -moz-animation: dropDownFade 0.5s forwards;
  animation: dropDownFade 0.5s forwards;
}
/*button 2*/
/* Button 6 */
/* Button 3 */
@-webkit-keyframes dropDownFade {
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes dropDownFade {
  50% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}
@keyframes dropDownFade {
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
/*Building-block less files*/
.modal {
  display: block;
  overflow: auto;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 90%;
  margin-top: 5.625%;
}
.modal-dialog {
  position: initial;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.modal-content {
  margin: 0px;
  border: none;
  height: 100%;
}
.modal-header {
  height: 60px;
  margin: 0 px;
  padding: 0px 0px 0px 35px;
}
.modal-body {
  overflow-y: scroll;
}
.modal-footer {
  height: 65px;
  margin: 0px;
  padding: 0px 0px 8px 0px;
}
.image-container {
  height: 200px;
}
.image-group {
  height: inherit;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 4px;
}
.image-holder {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
}
.image-holder:hover {
  opacity: 0.6;
}
.selected {
  border: 5px solid #bce8f1;
}
body.presentation {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #333333;
  font-weight: lighter;
  overflow: hidden;
  font-size: 36px;
  height: 100%;
}
.presentation .full-sized {
  height: 100%;
  width: 100%;
}
.presentation .parent-height {
  height: inherit;
  width: inherit;
}
.presentation .slide {
  width: 100%;
  padding: 0px 15px 0px 15px;
  line-height: 1em;
  text-align: center;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  height: 100%;
}
@media (min-width: 768px) {
  .presentation .slide {
    padding: 0px 40px 0px 40px;
  }
}
.presentation .slide h1,
.presentation .slide h2,
.presentation .slide h3,
.presentation .slide h4,
.presentation .slide h5,
.presentation .slide h6 {
  font-family: 'Bree Serif', Georgia, serif;
  line-height: 1.2em;
  color: #4799b6;
  margin: 0px;
  font-weight: lighter;
}
.presentation .slide h1 {
  font-size: 3.77em;
}
.presentation .slide h2 {
  font-size: 2.11em;
}
.presentation .slide h3 {
  font-size: 1.55em;
}
.presentation .slide h4 {
  font-size: 1em;
}
.presentation .slide p {
  margin: 0.5em 0;
}
.presentation .vertical-center {
  text-align: center;
}
.presentation .fix-to-bottom {
  position: absolute;
  bottom: 0px;
}
.presentation .full-height {
  height: 100%;
}
.presentation .slide-image-fragment {
  margin-top: 0.5em;
  display: inline-block;
  width: 95%;
}
.presentation .slide-image-fragment img {
  margin-left: auto;
  margin-right: auto;
  max-width: 97%;
  max-height: 300px;
}
.presentation .slide-image-fragment .caption-holder {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 97.5%;
}
.presentation .slide-image-fragment .caption-holder .caption {
  font-size: 18px;
  position: relative;
  left: -50%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.presentation .slide-image-fragment .caption-holder input {
  background-color: transparent;
}
.presentation .text-fragment-holder {
  margin-top: 0.5em;
}
.presentation .nav-button {
  top: 50%;
  margin-top: -100px;
  height: 200px;
  width: 80px;
  border: none;
  position: absolute;
  text-shadow: none !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7e7e7 50%, rgba(255, 255, 255, 0) 100%) !important;
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, #e7e7e7), color-stop(100%, rgba(255, 255, 255, 0))) !important;
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7e7e7 50%, rgba(255, 255, 255, 0) 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7e7e7 50%, rgba(255, 255, 255, 0) 100%) !important;
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7e7e7 50%, rgba(255, 255, 255, 0) 100%) !important;
  /* IE10+ */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #e7e7e7 50%, rgba(255, 255, 255, 0) 100%) !important;
  /* W3C */
}
.presentation .nav-button:active {
  top: 50% !important;
}
.presentation .nav-button-left {
  left: 0px;
}
.presentation .nav-button-right {
  right: 0px;
}
.presentation .nav-button-right:active {
  left: inherit !important;
  right: 1px;
}
.presentation .fragment > input[type="textarea"],
.presentation .fragment > input[type="text"] {
  width: 95%;
  padding: 0px !important;
  margin: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #999999;
  font: inherit;
  color: inherit;
  text-align: inherit;
}
.presentation .fragment > input[type="textarea"]:focus,
.presentation .fragment > input[type="text"]:focus,
.presentation .fragment > input[type="textarea"]:hover,
.presentation .fragment > input[type="text"]:hover,
.presentation .fragment > input[type="textarea"]:active,
.presentation .fragment > input[type="text"]:active {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0px !important;
  margin: 2px;
}
.presentation .fragment > input[type="textarea"]:focus::-webkit-input-placeholder,
.presentation .fragment > input[type="text"]:focus::-webkit-input-placeholder,
.presentation .fragment > input[type="textarea"]:focus::-moz-placeholder,
.presentation .fragment > input[type="text"]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity ease 0.15s;
  -webkit-transition: opacity ease 0.15s;
}
.presentation ::-webkit-input-placeholder,
.presentation :-moz-placeholder,
.presentation ::-moz-placeholder,
.presentation :-ms-input-placeholder {
  text-align: left;
  padding-bottom: 0px !important;
  vertical-align: baseline;
}
.presentation ::-webkit-input-placeholder {
  text-align: left;
}
.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.workspace .fragment {
  opacity: 0.2;
}
.playback .fragment {
  opacity: 0;
}
.zoom-out .fragment {
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.master-view .fragment {
  opacity: 1;
}
.presentation .button-delete {
  position: absolute;
  top: 100px;
  right: -92px;
  border: none;
}
.presentation .button-delete:hover {
  right: 0px;
}
.presentation .button-delete:active {
  left: inherit !important;
  top: 76px !important;
  right: 0px !important;
}
.presentation .button-record {
  position: absolute;
  top: 4px;
  right: -142px;
}
.presentation .button-record:hover {
  right: 0px;
}
.presentation .button-record:active {
  left: inherit !important;
  top: 5px !important;
  right: 0px !important;
}
.presentation .stretch {
  display: inline-block;
  transform: scale(2, 3);
  /* W3C */
  -webkit-transform: scale(2, 3);
  /* Safari and Chrome */
  -moz-transform: scale(2, 3);
  /* Firefox */
  -ms-transform: scale(2, 3);
  /* IE 9 */
  -o-transform: scale(2, 3);
  /* Opera */
}
.presentation .edit p {
  margin: 0px;
}
.presentation .edit .text-fragment-holder {
  margin-top: 0px;
}
.presentation .edit .slide-image-fragment {
  margin-top: 0px;
}
.presentation .spinner-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.presentation .spinner-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.presentation .spinner-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.presentation #spinner {
  opacity: 1;
  z-index: 1050;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  height: 200px;
  width: 200px;
  text-indent: 250px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-mask-image: url(/img/spinner.png);
  background-color: #4799b6;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: spinnerRotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.presentation .image-placeholder {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0));
  filter: url(/img/image-icon.png);
}
.presentation .image-placeholder:hover {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: url(/img/image-icon.png);
}
.presentation .img-modal-close {
  float: right;
  color: #000;
  cursor: pointer;
}
.presentation .image-add-top {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: #000;
  cursor: pointer;
}
.presentation .image-youtube {
  top: 50px;
}
.presentation .button-record {
  position: absolute;
  top: 4px;
  right: -142px;
}
.presentation .button-record:hover {
  right: 0px;
}
.presentation .button-record:active {
  left: inherit !important;
  top: 5px !important;
  right: 0px !important;
}
.presentation .button-complete {
  position: absolute;
  top: 4px;
  right: -10px;
}
.presentation .button-complete:hover {
  right: 0px;
}
.presentation .button-complete:active {
  left: inherit !important;
  top: 5px !important;
  right: 0px !important;
}
.presentation .button-top-left-0 {
  position: absolute;
  top: 4px;
  left: 90px;
  border: none;
}
.presentation .button-top-left-0:active {
  left: 104px !important;
  top: 5px !important;
}
.presentation .button-top-left-0 * {
  vertical-align: baseline;
}
.presentation .button-top-left-1 {
  position: absolute;
  top: 4px;
  left: 10px;
  border: none;
}
.presentation .button-top-left-1:active {
  left: 10px !important;
  top: 5px !important;
}
.presentation .button-top-left-1 * {
  vertical-align: baseline;
}
.presentation .button-top-left-2 {
  position: absolute;
  top: 4px;
  left: 200px;
  border: none;
}
.presentation .button-top-left-2:active {
  left: 200px !important;
  top: 5px !important;
}
.presentation .button-top-left-2 * {
  vertical-align: baseline;
}
.presentation .button-top-left-3 {
  position: absolute;
  top: 4px;
  left: 260px;
  border: none;
}
.presentation .button-top-left-3:active {
  left: 260px !important;
  top: 5px !important;
}
.presentation .button-top-left-3 * {
  vertical-align: baseline;
}
@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.presentation .record-blink {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fa5f5f;
  z-index: 1000;
}
.presentation .blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.presentation .record .btn {
  z-index: 10001;
}
body.navigation {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0px;
  color: #FFF;
}
body.navigation ul {
  margin: 0px;
  padding: 0px;
}
body.navigation h1,
body.navigation h2,
body.navigation h3,
body.navigation h4,
body.navigation h5,
body.navigation h6 {
  font-family: 'Open Sans';
}
body.navigation a {
  text-decoration: none;
}
.navigation .no-border {
  border: none !important;
}
.navigation .background-color-inherit {
  background-color: inherit !important;
}
.navigation .color-red {
  background-color: #f06060;
}
.navigation .color-red .btn-pop-out {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  /*button 2c*/
}
.navigation .color-red .btn-pop-out.btn-pop-outc {
  border-radius: 5px;
}
.navigation .color-red .btn-pop-out.btn-pop-outc:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}
.navigation .color-red .btn-pop-out.btn-pop-outc:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
.navigation .color-red .btn-social {
  background: #f06060;
  color: #fff;
}
.navigation .color-red .btn-social:hover {
  background: #cb4e4e;
}
.navigation .color-red .btn-social:active {
  background: #ab3c3c;
  top: 2px;
}
.navigation .color-red .btn-social:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  font-family: 'FontAwesome';
}
.navigation .color-red .btn-social.btn-sociald {
  /*
    padding: 25px 20px 25px 20px;
*/
  border-radius: 10px;
}
.navigation .color-red .btn-social.btn-sociald:before {
  background: #fff;
  color: #f06060;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.navigation .color-red .btn-social.btn-sociald:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .color-red .btn-social.btn-sociald:active {
  top: 0;
}
.navigation .color-red .btn-social.btn-sociald:active:before {
  color: #ab3c3c;
}
.navigation .color-red .btn-social.btn-sociald:active:after {
  left: 60px;
}
.navigation .color-green {
  background-color: #2ac56c;
}
.navigation .color-green .btn-pop-out {
  background: #17aa56;
  color: #fff;
  box-shadow: 0 6px #119e4d;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  /*button 2c*/
}
.navigation .color-green .btn-pop-out.btn-pop-outc {
  border-radius: 5px;
}
.navigation .color-green .btn-pop-out.btn-pop-outc:hover {
  box-shadow: 0 4px #119e4d;
  top: 2px;
}
.navigation .color-green .btn-pop-out.btn-pop-outc:active {
  box-shadow: 0 0 #119e4d;
  top: 6px;
}
.navigation .color-green .btn-social {
  background: #17aa56;
  color: #fff;
}
.navigation .color-green .btn-social:hover {
  background: #119e4d;
}
.navigation .color-green .btn-social:active {
  background: #119e4d;
  top: 2px;
}
.navigation .color-green .btn-social:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  font-family: 'FontAwesome';
}
.navigation .color-green .btn-social.btn-sociald {
  /*
    padding: 25px 20px 25px 20px;
*/
  border-radius: 10px;
}
.navigation .color-green .btn-social.btn-sociald:before {
  background: #fff;
  color: #17aa56;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.navigation .color-green .btn-social.btn-sociald:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .color-green .btn-social.btn-sociald:active {
  top: 0;
}
.navigation .color-green .btn-social.btn-sociald:active:before {
  color: #119e4d;
}
.navigation .color-green .btn-social.btn-sociald:active:after {
  left: 60px;
}
.navigation .color-yellow {
  background-color: #fcad26;
}
.navigation .color-yellow .btn-social {
  background: #fcad26;
  color: #fff;
}
.navigation .color-yellow .btn-social:hover {
  background: #f29e0d;
}
.navigation .color-yellow .btn-social:active {
  background: #f58500;
  top: 2px;
}
.navigation .color-yellow .btn-social:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  font-family: 'FontAwesome';
}
.navigation .color-yellow .btn-social.btn-sociald {
  /*
    padding: 25px 20px 25px 20px;
*/
  border-radius: 10px;
}
.navigation .color-yellow .btn-social.btn-sociald:before {
  background: #fff;
  color: #fcad26;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.navigation .color-yellow .btn-social.btn-sociald:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .color-yellow .btn-social.btn-sociald:active {
  top: 0;
}
.navigation .color-yellow .btn-social.btn-sociald:active:before {
  color: #f58500;
}
.navigation .color-yellow .btn-social.btn-sociald:active:after {
  left: 60px;
}
.navigation .color-blue {
  background-color: #0e83cd;
}
.navigation .color-blue .btn-social {
  background: #5cbcf6;
  color: #fff;
}
.navigation .color-blue .btn-social:hover {
  background: #49a7df;
}
.navigation .color-blue .btn-social:active {
  background: #0e83cd;
  top: 2px;
}
.navigation .color-blue .btn-social:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  font-family: 'FontAwesome';
}
.navigation .color-blue .btn-social.btn-sociald {
  /*
    padding: 25px 20px 25px 20px;
*/
  border-radius: 10px;
}
.navigation .color-blue .btn-social.btn-sociald:before {
  background: #fff;
  color: #5cbcf6;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.navigation .color-blue .btn-social.btn-sociald:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .color-blue .btn-social.btn-sociald:active {
  top: 0;
}
.navigation .color-blue .btn-social.btn-sociald:active:before {
  color: #0e83cd;
}
.navigation .color-blue .btn-social.btn-sociald:active:after {
  left: 60px;
}
.navigation .color-facebook .btn-social {
  background: #4966a1;
  color: #fff;
}
.navigation .color-facebook .btn-social:hover {
  background: #3a5181;
}
.navigation .color-facebook .btn-social:active {
  background: #0e83cd;
  top: 2px;
}
.navigation .color-facebook .btn-social:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  font-family: 'FontAwesome';
}
.navigation .color-facebook .btn-social.btn-sociald {
  /*
    padding: 25px 20px 25px 20px;
*/
  border-radius: 10px;
}
.navigation .color-facebook .btn-social.btn-sociald:before {
  background: #fff;
  color: #4966a1;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.navigation .color-facebook .btn-social.btn-sociald:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .color-facebook .btn-social.btn-sociald:active {
  top: 0;
}
.navigation .color-facebook .btn-social.btn-sociald:active:before {
  color: #0e83cd;
}
.navigation .color-facebook .btn-social.btn-sociald:active:after {
  left: 60px;
}
.navigation .color-google .btn-social {
  background: #dd211c;
  color: #fff;
}
.navigation .color-google .btn-social:hover {
  background: #be1d18;
}
.navigation .color-google .btn-social:active {
  background: #ab3c3c;
  top: 2px;
}
.navigation .color-google .btn-social:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  font-family: 'FontAwesome';
}
.navigation .color-google .btn-social.btn-sociald {
  /*
    padding: 25px 20px 25px 20px;
*/
  border-radius: 10px;
}
.navigation .color-google .btn-social.btn-sociald:before {
  background: #fff;
  color: #dd211c;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.navigation .color-google .btn-social.btn-sociald:after {
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 1;
  left: 55px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .color-google .btn-social.btn-sociald:active {
  top: 0;
}
.navigation .color-google .btn-social.btn-sociald:active:before {
  color: #ab3c3c;
}
.navigation .color-google .btn-social.btn-sociald:active:after {
  left: 60px;
}
.navigation .color-gray {
  background-color: #ecf0f1;
}
.navigation .color-purple {
  background-color: #9e54bd;
}
.navigation .color-dark-gray {
  background-color: #CCCCCC;
}
.navigation .topbar {
  background-color: #f06060;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 2.4em;
  font-weight: lighter;
}
.navigation .topbar .logo {
  float: left;
}
.navigation .topbar .menu {
  font-size: 0.5em;
  float: right;
  margin-top: -0.75em;
}
.navigation .topbar a {
  color: #FFFFFF;
}
.navigation .topbar .btn-hollow {
  color: #fff;
  background: #cb4e4e;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.navigation .topbar .btn-hollow:active {
  top: 2px;
}
.navigation .topbar .btn-hollow.btn-hollowb {
  border: 4px solid #cb4e4e;
  border-radius: 15px;
}
.navigation .topbar .btn-hollow.btn-hollowb:hover {
  background: transparent;
  color: #cb4e4e;
}
.navigation .topbar:before,
.navigation .topbar:after {
  content: " ";
  display: table;
}
.navigation .topbar:after {
  clear: both;
}
.navigation .topbar:before,
.navigation .topbar:after {
  content: " ";
  display: table;
}
.navigation .topbar:after {
  clear: both;
}
.navigation .tile {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
  text-align: center;
  height: 250px;
  padding-top: 125px;
  opacity: 0.75;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
}
.navigation .tile h1 {
  color: #FFF;
  font-size: 2em;
  font-weight: lighter;
  padding-top: 0px;
  margin-top: -1.5em;
  margin-bottom: 0.2em;
}
.navigation .tile:hover {
  opacity: 1;
}
.navigation .tile-footer {
  padding-top: 0px;
  height: 6em;
}
.navigation .tile-footer h1 {
  margin-top: 1em;
}
.navigation .masthead {
  background-color: #f06060;
  border-bottom: 0.8em solid #ab3c3c;
  padding: 0em 0em 12em 0em;
  text-align: center;
}
.navigation .masthead h1 {
  font-size: 3.6em;
  font-family: 'Bree Serif';
  font-weight: lighter;
  margin-bottom: 0.2em;
}
.navigation .masthead .subtitle {
  color: #ab3c3c;
  font-size: 2em;
  margin-bottom: 1em;
}
.navigation .masthead .btn {
  font-size: 1.2em;
}
.navigation .masthead:before,
.navigation .masthead:after {
  content: " ";
  display: table;
}
.navigation .masthead:after {
  clear: both;
}
.navigation .masthead:before,
.navigation .masthead:after {
  content: " ";
  display: table;
}
.navigation .masthead:after {
  clear: both;
}
.navigation .signin-main {
  margin-left: 0;
  margin-right: 0;
  padding: 0em 4.8em 11.4em 4.8em;
  text-align: center;
}
.navigation .signin-main:before,
.navigation .signin-main:after {
  content: " ";
  display: table;
}
.navigation .signin-main:after {
  clear: both;
}
.navigation .signin-main:before,
.navigation .signin-main:after {
  content: " ";
  display: table;
}
.navigation .signin-main:after {
  clear: both;
}
.navigation .signin-main:before,
.navigation .signin-main:after {
  content: " ";
  display: table;
}
.navigation .signin-main:after {
  clear: both;
}
.navigation .signin-main:before,
.navigation .signin-main:after {
  content: " ";
  display: table;
}
.navigation .signin-main:after {
  clear: both;
}
.navigation .signin-main .signin-info {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  padding-top: 2em;
  margin-top: -1em;
  padding-bottom: 2em;
}
.navigation .signin-main .signin-social {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
.navigation .signin-main h1 {
  font-size: 2em;
  font-weight: lighter;
  text-align: left;
  margin-top: 0.0em;
  margin-bottom: 1em;
}
.navigation .signin-main:before,
.navigation .signin-main:after {
  content: " ";
  display: table;
}
.navigation .signin-main:after {
  clear: both;
}
.navigation .signin-main:before,
.navigation .signin-main:after {
  content: " ";
  display: table;
}
.navigation .signin-main:after {
  clear: both;
}
.navigation .color-green .signin-main {
  border-bottom: 0.8em solid #119e4d;
}
.navigation .color-green .signin-main .flat-form form input[type=text],
.navigation .color-green .signin-main .flat-form form input[type=password] {
  color: #2ac56c;
}
.navigation .color-green .signin-main .flat-form form input[type=text] ::-webkit-input-placeholder,
.navigation .color-green .signin-main .flat-form form input[type=password] ::-webkit-input-placeholder {
  color: #2ac56c;
}
.navigation .color-green .signin-main .flat-form form input[type=text] :-moz-placeholder,
.navigation .color-green .signin-main .flat-form form input[type=password] :-moz-placeholder {
  /* Firefox 18- */
  color: #2ac56c;
}
.navigation .color-green .signin-main .flat-form form input[type=text] ::-moz-placeholder,
.navigation .color-green .signin-main .flat-form form input[type=password] ::-moz-placeholder {
  /* Firefox 19+ */
  color: #2ac56c;
}
.navigation .color-green .signin-main .flat-form form input[type=text] :-ms-input-placeholder,
.navigation .color-green .signin-main .flat-form form input[type=password] :-ms-input-placeholder {
  color: #2ac56c;
}
.navigation .color-green .signin-main .signin-info {
  border-right: 1px solid #119e4d;
}
.navigation .color-red .signin-main {
  border-bottom: 0.8em solid #ab3c3c;
}
.navigation .color-red .signin-main .flat-form form input[type=text],
.navigation .color-red .signin-main .flat-form form input[type=password] {
  color: #cb4e4e;
}
.navigation .color-red .signin-main .flat-form form input[type=text] ::-webkit-input-placeholder,
.navigation .color-red .signin-main .flat-form form input[type=password] ::-webkit-input-placeholder {
  color: #cb4e4e;
}
.navigation .color-red .signin-main .flat-form form input[type=text] :-moz-placeholder,
.navigation .color-red .signin-main .flat-form form input[type=password] :-moz-placeholder {
  /* Firefox 18- */
  color: #cb4e4e;
}
.navigation .color-red .signin-main .flat-form form input[type=text] ::-moz-placeholder,
.navigation .color-red .signin-main .flat-form form input[type=password] ::-moz-placeholder {
  /* Firefox 19+ */
  color: #cb4e4e;
}
.navigation .color-red .signin-main .flat-form form input[type=text] :-ms-input-placeholder,
.navigation .color-red .signin-main .flat-form form input[type=password] :-ms-input-placeholder {
  color: #cb4e4e;
}
.navigation .color-red .signin-main .signin-info {
  border-right: 1px solid #ab3c3c;
}
.navigation .flat-form form li {
  list-style-type: none;
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.navigation .flat-form form input[type=text],
.navigation .flat-form form input[type=password],
.navigation .flat-form form input[type=submit] {
  font-family: 'Open Sans';
}
.navigation .flat-form form input[type=text],
.navigation .flat-form form input[type=password] {
  display: block;
  width: 60%;
  height: 40px;
  margin-bottom: 2em;
  padding-left: 15px;
  background: #fff;
  border: none;
  outline: none;
}
.navigation .flat-form:before,
.navigation .flat-form:after {
  content: " ";
  display: table;
}
.navigation .flat-form:after {
  clear: both;
}
.navigation .flat-form:before,
.navigation .flat-form:after {
  content: " ";
  display: table;
}
.navigation .flat-form:after {
  clear: both;
}
.navigation .listing-main {
  padding: 0em 0px 4px 0px;
}
.navigation .listing-main:before,
.navigation .listing-main:after {
  content: " ";
  display: table;
}
.navigation .listing-main:after {
  clear: both;
}
.navigation .listing-main:before,
.navigation .listing-main:after {
  content: " ";
  display: table;
}
.navigation .listing-main:after {
  clear: both;
}
.navigation .listing-main .tile .icon-holder {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1.3em;
  text-align: right;
  font-size: 1.5em;
}
.navigation .listing-main .tile .icon-holder .fa {
  padding: 0px 4px 0px 4px;
}
.navigation .listing-main .tile .icon-holder a {
  color: #CCC;
}
.navigation .listing-main .tile .icon-holder a:hover {
  color: #FFF;
}
.navigation .color-gray .listing-main {
  border-bottom: 0.8em solid #999999;
}
.navigation .color-gray .topbar .menu {
  font-size: 1em;
  margin-top: 0em;
  color: #333;
}
.navigation .color-red .subtitle {
  color: #ab3c3c;
}
.navigation .color-yellow .subtitle {
  color: #f58500;
}
.navigation .color-green .subtitle {
  color: #119e4d;
}
.navigation .color-purple .subtitle {
  color: #823aa0;
}
