extends layouts/default
block content
    div(class="full-sized colour-red")
        div(class="slide")
            div(class="toolbar toolbar-center")
                a(href="/#/play/" + presentationId + "/0//0/init",class="btn btn-danger")
                    div("toolbar-icon")
                        i(class="fa fa-play fa-5x")
                        div(class="center-tip") Play Presentation

