extends layouts/default
block content
    div(class="full-sized color-red")
        div(class="slide")
            div(class="toolbar toolbar-center")
                a(href="/#/play/" + presentationId + "/0//0/init",class="btn-square")
                    div("toolbar-icon")
                        i(class="fa fa-play fa-5x")
                        div(class="center-tip") Play Presentation

