@import '../../vendor/bootstrap/less/variables';
@import '../../vendor/bootstrap/less/mixins';
@import 'buttons';
@import "../../atelier/src/less/main";
@import 'mixins';

@tile-height:214px;
@icon-holder-height:31px;

.color-red{
  background-color: #f06060;
  .btn-pop-out{
    .btn-pop-out(#cb4e4e, #ab3c3c);
  }
  .btn-social{
    .btn-social(#f06060,#cb4e4e,#ab3c3c);
  }
}


.color-green{
  background-color: #2ac56c;
  .btn-pop-out{
    .btn-pop-out(#17aa56, #119e4d);
  }
  .btn-social{
    .btn-social(#17aa56, #119e4d, #119e4d);
  }
}

.color-yellow{
  background-color: #fcad26;
  .btn-pop-out{
    .btn-pop-out(#f29e0d, #f58500);
  }
  .btn-social{
    .btn-social(#fcad26,#f29e0d,#f58500);
  }
}

.color-blue{
  background-color:#0e83cd;
  .btn-pop-out{
    .btn-pop-out(#49a7df, #0e83cd);
  }
  .btn-social{
    .btn-social(#5cbcf6, #49a7df,#0e83cd);
  }
}

.color-facebook{
  .btn-social{
    .btn-social(#4966a1, #3a5181,#0e83cd);
  }
}
.color-google{
  .btn-social{
    .btn-social(#dd211c, #be1d18,#ab3c3c);
  }
}
.color-gray{
  background-color:#ecf0f1;
  .btn-pop-out{
    .btn-pop-out(#ecf0f1, #CCCCCC);
  }
}

.color-purple{
  background-color:#9e54bd;
}

.color-dark-gray{
  background-color: #3c3c3c;
  color:#fed67f;
}

.color-sky-blue{
  background-color: #aad6df;
  color:#3a494c;
  .btn-pop-out{
    .btn-pop-out(#667788, #3a494c);
  }
}

.color-gallery-green{
  background-color:#9ad3a6;
  color:#cde9d0;
}

body.navigation{
  width:100%;
  background-color: #ecf0f1;
  ul{
    margin:0px;
    padding:0px;
  }
  font-family:'Droid Sans', sans-serif;
  font-size:16px;
  h1,h2,h3,h4,h5,h6{
    font-family:'Bree Serif', serif;
  }
  margin:0px;
  color:#FFF;
  a{
    text-decoration: none;
  }
}

.navigation{
  .no-border{
    border:none !important;
  }
  .background-color-inherit{
    background-color:inherit !important;
  }


  .topbar{
    background-color: #aad6df;
    .padme;
    .logo{
      font-family:'Open Sans', sans-serif;
      font-weight:lighter;
      font-size:32px;
      float:left;
    }
    .menu{
      font-size:15.33px;
      float:right;
      margin-top: 12px;
      .menu-link{
        display: inline-block;
        width:50px;
        .text-link{
          font-weight: 700;
          vertical-align: sub;
          .color-changing-link(#ab3c3c);
        }
      }
    }
    a{
      color:#3a494c;

    }
    .btn-hollow{
      .btn-hollow(#cb4e4e);
    }
    .clearfix
  }

  .sokratik-footer{
    width:100%;
    color:#525252;
    .padme(5px,15px);
    font-size:1em;
    .links{
      float:left;
      a{
        color:inherit;
      }
      .footer-link{
        margin-top:1em;
        width:200px;
        display: inline-block;
      }
    }
    .social{
      float:right;
      .social-link{
        font-size:2.4em;
        width:50px;
        display: inline-block;
      }
    }
    a{
      color:#FFFFFF;

    }
    .btn-hollow{
      .btn-hollow(#cb4e4e);
    }
    .clearfix
  }

  .tile{
    .make-xs-column(12,0px);
    .make-sm-column(6,0px);
    .make-md-column(3,0px);
    box-sizing: border-box;
    text-align: center;
    height:@tile-height;
    opacity: 0.75;
    h1{
      color:#FFF;
      font-size:2em;
      font-weight: lighter;
      padding-top:2em;
      margin-bottom:0.2em;
      opacity: 1;
    }
    -webkit-backface-visibility:hidden;
    &:hover{
      opacity:1;
    }
  }
  .tile{
    .tile-box{
      display: block;
      height: 100%;
      &.btn-icon-create{
        display: inline-block;
      }
      .subtitle{
        color:#FFF;
        text-align: justify;
      }
      img{
        width:100%;
        height:100%;
      }
    &.heading-box{
//      padding-top:@tile-height/2;
    }
    &.description-box{
      padding: 2*@icon-holder-height 15px;
      display: none;
      }
    }
    overflow: hidden;
    .icon-holder{
      position: absolute;
      top: 0px;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
      height: @icon-holder-height;
      font-size: 2em;
      color:#FFF;
      opacity:1;
      .icons{
        text-align: right;
        font-size: 0.75em;
        .fa{
          padding:0px 4px 0px 4px;
        }
        a{
          color:#CCC;
          cursor:pointer;
          display: inline-block;
          &:hover{
            color:#FFF;
          }
        }
      }
    }
    .btn-icon-create{
      margin-top:@tile-height/2 - 40px;
    }
  }
  .tile, .animated-box{
     .transition-standard
  }
  .tile:hover {
      .animated-box{
          margin-top: -@tile-height;
        &.no-animation{
          margin-top: 0px;
        }
    }
  }

  .tile-footer{
    padding-top:0px;
    height:6em;
    h1{
      margin-top:1em;
    }
  }
}

.no-padding{
  padding:0 !important;
}

.sokratik-navbar {
  border:none;
  border-radius: 0;
  margin-bottom:0px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  .padme;
  .navbar-header{
    a.navbar-brand{
      font-family:'Open Sans', serif;
      font-weight:lighter;
      font-size:32px;
      color:inherit;
    }
    .navbar-toggle{
      border-color: #ddd;
      .icon-bar {
        background-color: #ccc;
      }
    }
  }
  .navbar-right{
    a{
      font-size:15.33px;
      font-weight: bold;
      color:#FFF;
      border-radius:10px;
      &.highlight{
        background-color:#3a494c;
        color:inherit;
      }
    }
  }
  .nav>li>a:hover, .nav>li>a:focus{
    background-color: #525252;
  }
}


.add-border{
  border-bottom: 12px solid #ab3c3c;
  &.color-red{
    border-bottom-color: #ab3c3c;
  }
  &.color-sky-blue{
    border-bottom-color: #3a494c;
  }
  &.color-dark-gray{
    border-bottom-color:#181818;
  }
}

@import 'home/home';
@import 'signin/signin';
@import 'listing/listing';
@import 'share/share.less';
