.color-changing-link(@color-final){
  &:hover{
    color:@color-final;
    transition: color ease 0.30s;
    -webkit-transition: color ease 0.30s;
  }
}

.transition-standard{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
