.listing-main{
  padding: 0em 2px 1.4em 2px;
  .clearfix;
}

.color-gray{
  .tile{
    border:2px solid #ecf0f1;
  }
  .listing-main{
    border-bottom: 0.8em solid #999999;
  }
  .topbar .menu{
    font-size: 1em;
    margin-top: 0em;
    color:#333;
  }
}

.color-red{
  .subtitle{
    color:#ab3c3c;
  }
}

.color-yellow{
  .subtitle{
  color:#f58500;
  }
}

.color-green{
  .subtitle{
  color:#119e4d;
  }
}