.navigation{
  .listing-main{
    padding: 0em 0px 4px 0px;
    .clearfix;
    .tile{
      .icon-holder{
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        height: 1.3em;
        text-align: right;
        font-size: 1.5em;
        .fa{
          padding:0px 4px 0px 4px;
        }
        a{
          color:#CCC;
          &:hover{
            color:#FFF;
          }
        }
      }
    }
  }

  .color-gray{
    .tile{
//      border:2px solid #ecf0f1;
    }
    .listing-main{
      border-bottom: 0.8em solid #999999;
    }
    .topbar .menu{
      font-size: 1em;
      margin-top: 0em;
      color:#333;
    }
  }

  .color-red{
    .subtitle{
      color:#ab3c3c;
    }
  }

  .color-yellow{
    .subtitle{
      color:#f58500;
    }
  }

  .color-green{
    .subtitle{
      color:#119e4d;
    }
  }

  .color-purple{
    .subtitle{
      color:#823aa0;
    }
  }
}