if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')
else
    //Angular js
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js')
    //Angular UI
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.min.js')


    //underscore
    script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js')
    //binaryjs
    script(type="text/javascript",src="http://cdn.binaryjs.com/0/binary.min.js")

    //kineticjs
    script(type='text/javascript',src='//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.4.min.js')

    //YT
    script(type="text/javascript",src="//www.youtube.com/iframe_api")
    //Sokratik
    script(type='text/javascript',src='/static/js/sokratik_v300.js')







