upstream sokratik-nodejs {
    # fail_timeout=0 means we always retry an upstream even if it failed
    # to return a good HTTP response (in case the Unicorn master nukes a
    # single worker for timing out).

    server localhost:3000;
}
server{

    access_log   /var/log/nginx/sokratik_access.log  ;
    error_log   /var/log/nginx/sokratik_error.log  ;

    server_name lab.sokratik.com;
    listen 80 default;
    root /local/www/sokratik;

    location @proxy_to_sokratik_app {
        proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
        proxy_set_header X-Forwarded-Port $http_x_forwarded_port;
        proxy_set_header X-Forwarded-For $http_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://sokratik-nodejs;
    }

    location / {
        try_files @uri @proxy_to_sokratik_app;
    }

    location /js {
        alias /local/www/sokratik/js;
    }
	
    location ~* ^/static/(\w+)/([^/]+)_.+\.(js|css|png|jpg|jpeg|gif|ico)$ {
        	alias /local/www/sokratik/static/$1/$2.$3;
       	    add_header Vary Accept-Encoding;
        	expires max;
     	 }

    location /css {
        alias /local/www/sokratik/css;
    }
    location /recordings {
        alias /tmp/recordings;
    }

    location /googleb22ec1cf5298cab1.html {
        alias /local/www/sokratik/domainverif/yt-video-domain-verif-sokratik-lab.html
    }

}

