extends layouts/default
block content
    div(class="topbar",ng-hide="presentationMode")
        div(class="logo")
            a(ui-sref="home") sokratik
        div(class="menu")
            a(class="btn btn-small btn-hollow btn-hollowb", ui-sref="login",ng-hide="logged") LOG IN
            a(class="btn btn-small btn-hollow btn-hollowb", href="/signout",ng-show="logged") LOG OUT
    div(class="full-sized", ui-view="root")
    div(class="audio")
        audio(ng-src="{{audioLocation}}",sokratik-audio-track)
        audio(src="//s3-ap-southeast-1.amazonaws.com/demo-answers-sg/Lantern/Happy-minute.mp3", sokratik-background-audio-track)
    div(class="show-case",ng-show="homeScreen")
        a(href='//alpha.sokratik.com/play/52a5b24f89163bb73f000026',target='_blank')
            div.color-purple.tile.tile-footer
                h1 Teaching
        a(ui-sref='play.init({presentationId:"52cf63fca6a89daa49aa705c",scriptIndex:0,pausedInterval:0})')
            div.color-green.tile.tile-footer
                h1 Story-telling
        a(ui-sref='play.init({presentationId:"52cef1fb2d9e0d0d6e000450",scriptIndex:0,pausedInterval:0})')
            div.color-yellow.tile.tile-footer
                h1 Explainer
        a(href='//alpha.sokratik.com/play/52a005b54f3b5d090f000007',target='_blank')
            div.color-blue.tile.tile-footer
                h1 Active Learning
