extends layouts/default
block content
    div(ng-class="{'color-red': navigationMode}")
        div(class="topbar",ng-hide="presentation")
            div(class="logo")
                a(ui-sref="home") sokratik
            div(class="menu")
                a(class="btn btn-small btn-6 btn-6b", ui-sref="login",ng-hide="logged") LOG IN
                a(href="/signout",ng-show="logged") LOG OUT
        div(ui-view="root")
        div(class="audio")
            audio(ng-src="{{audioLocation}}",sokratik-audio-track)
            audio(src="//s3-ap-southeast-1.amazonaws.com/demo-answers-sg/Lantern/Happy-minute.mp3", sokratik-background-audio-track)
        div(class="show-case",ng-show="presentation")
            div.color-purple.tile
                h1 Education
            div.color-green.tile
                h1 Story-telling
            div.color-yellow.tile
                h1 Explainer
            div.color-blue.tile
                h1 Active Learning
