.masthead{
  background-color: #f06060;
  border-bottom: 0.8em solid #ab3c3c;
  padding: 0em 0em 12em 0em;
  text-align: center;
  h1{
    font-size:3.6em;
    font-family:'Bree Serif';
    font-weight:lighter;
    margin-bottom:0.2em;
  }
  .subtitle{
    color:#ab3c3c;
    font-size: 2em;
    margin-bottom: 1em;
  }
  .btn{
    font-size:1.2em;
  }
  .clearfix
}