@icon-holder-home-height: 42px;
.navigation{
  .masthead{
    background-color: #f06060;
    border-bottom: 0.8em solid #ab3c3c;
    padding: 0em 0em 0.5em 0em;
    text-align: center;
    min-height: 33.4em;
    &.smaller-padding{
      padding-bottom: 6em;
    }
    h1{
      font-size:3.6em;
      font-family:'Bree Serif';
      font-weight:lighter;
      margin-bottom:0em;
//      color:#FFF;
    }
    .subtitle{
      .desc{
        color:initial;
        a{
          color:initial;
        }
      }
      font-size: 2em;
      margin-bottom: 1em;
      h1 {
        font-size: 1.8em;
      }
      a{
        .color-changing-link(#FFF);
        font-size:2em;
      }
    }
    .btn-pop-out{
      font-size:1.2em;
    }
    .white-text{
      color: #FFF;
    }
    .sub-container{
      padding-left: 8em;
      padding-right: 8em;
      text-align: left;
      font-size: 0.6em;
    }
    .bottom-heading{
      margin-top:1em;
      text-align: center;
    }
    .logo-text{
      font-family: 'Open Sans';
      font-size: 1.1em;
//      color:#FFF;
    }
    .home-show-case{
      margin-top: 1em;
      h1{
        font-family: 'Open Sans';
        font-size: 2em;
      }
      .subtitle{
        font-size:1.2em;
      }
      .tile .icon-holder{
        height: @icon-holder-home-height;
      }
      height: @icon-holder-home-height+1px;
      &.no-animation{
        height: @tile-height;
      }
      overflow: hidden;
      .transition-standard;
      &:hover{
        height: @tile-height;
      }
      .tile:hover .animated-box{
        margin-top: 0px;
      }
    }
    .clearfix
  }
}